body {
  margin: 0;
  background-color: #111113;
  overflow: hidden;
}

.controls {
  background-color: #fff;
  position: fixed;
  left: 1rem;
  top: 1rem;
  padding: 0.5rem;
}

.controls label {
  display: block;
  margin-top: 0.25rem;
}
